<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104780306420-qfmh9btqcbn0mbmbvcq5vtnj3ggol7b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104780306420-qfmh9btqcbn0mbmbvcq5vtnj3ggol7b8</string>
	<key>API_KEY</key>
	<string>AIzaSyC_gqgApqKp81_aSUhKCZdwsaZZLIqrkY0</string>
	<key>GCM_SENDER_ID</key>
	<string>104780306420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sbsrGrad.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sbsr-g</string>
	<key>STORAGE_BUCKET</key>
	<string>sbsr-g.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104780306420:ios:2771b7ecdbdd70a30f8ba1</string>
</dict>
</plist>